<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>

    .li{
        border: dotted;
            
            height: auto;
      
       
  
    height: 600px;
    width: 800px;
    text-align: center;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 7rem;
        
    }
    .li h1{
        text-align: center;
    }

    .aboutinput{


height: 50px;
width: 600px;
}

table {
    border: 1px solid black;
    position: relative;
    border-collapse: collapse;
    left: auto;
    top: auto;
    margin: 0 80px;
}
</style>
</head>


<body>
    
    <div class="li">


        <h1>Update  About Section</h1> 
        <p><a href="about_add">Add About</a></p>
        <form action="do" method="post">
        {% csrf_token %}
        FName:<br>
        <input name="fname" value="{{about.fname}}">
        <br><br>
        LName:<br>
        <input name="lname" value="{{about.lname}}">
        <br><br>
        Profe:<br>
        <input name="prof" value="{{about.prof}}">
        <br><br>
        About:<br>
        <input name="about" value="{{about.about}}" class="aboutinput">
        <br><br>
        From:<br>
        <input name="from" value="{{about.ffrom}}">
        <br><br>
        Lives In:<br>
        <input name="live" value="{{about.live}}">
        <br><br>
        Age:<br>
        <input name="age" value="{{about.age}}">
        <br><br>
        Gender:<br>
        <input name="gender" value="{{about.gender}}">
        <br><br>
        <input type="submit" value="Submit">
        </form>

    </div>
</body>
</html>

