

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add EXPERIENCE</title>
<style>

    .li{
        border: dotted;
        height: auto;
      
       
   
    height: 400px;
    width: 800px;
    text-align: center;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 7rem;
        
    }
    .li h1{
        text-align: center;
    }

    .detail{


        height: 50px;
        width: 600px;
    }

</style>
</head>


<body>
    
    <div class="li">


        <h1>Add Experience</h1> 
        <form action="do" method="post">
        {% csrf_token %}
        Year:<br>
        <input name="year" value="">
        <br><br>
        Position<br>
        <input name="degree" value="">
        <br><br>
        Company:<br>
        <input name="uni" value="">
        <br><br>
        Detail:<br>
        <input name="detail" class="detail" value="">
        <br><br>
       
       
        <input type="submit" value="Submit">
        </form>

    </div>
</body>
</html>

