<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Skill</title>
<style>

    .li{
        border: dotted;
            height: 400px;
      
       
 
    height: 400px;
    width: 600px;
    text-align: center;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 7rem;
        
    }
    .li h1{
        text-align: center;
    }

    .aboutinput{


        height: 50px;
        width: 600px;
    }
    .ll{
        display: inline-block;
    }
    .ll {
    display: inline-block;
    margin-right: 3rem;
    margin-left: 2rem;
}

</style>
</head>


<body>
    
    <div class="li">


        <h1>Add Skill </h1> 

    <div class="ll">
        <h2>Web Development</h2>
        <form action="do" method="post">
            {% csrf_token %}
              Skill Name:<br>
            <input name="name">
            <br><br>
            Percentage:<br>
            <input name="per">
            <br><br>
            <input type="submit" value="Submit">
            </form>
    </div>        

    <div class="ll">       
            <h2>Machine Learning</h2>
            <form action="do1" method="post">
                {% csrf_token %}
                  Skill Name:<br>
                <input name="name1">
                <br><br>
                Percentage:<br>
                <input name="per1">
                <br><br>
                <input type="submit" value="Submit">
                </form>   
    </div>     


    </div>
</body>
</html>

